.GameTitle{
    text-align: center;
    font-size: 30px;
    font-family: courier new;
}
.GameBoard{
    background-color: cyan;
    width:60%;
    float: left;
}
.GameInfo{
    width: 40%;
    float: left;
}
table{
    border-collapse: collapse;
}
td{
    text-align: center;
}
p{
    font-family: courier new;
    font-size: 18px;
}